<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <!-- <li><a href="/"><i class="fa fa-home"></i>Home</a></li> -->
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
        <li><a href="/downloads.html"><i class="fa fa-download"></i>Downloads</a></li>
        <li><a href="/tools.html"><i class="fa fa-cogs"></i>Tools</a></li>
        <li><a href="/documentation.html"><i class="fa fa-book"></i>Documentation</a></li>
        <li><a href="/contact.html"><i class="fa fa-envelope"></i>Contact</a></li>
        <li><a href="/people.html"><i class="fa fa-users"></i>Users</a></li>
        <li><a href="/license.html"><i class="fa fa-copyright"></i>License/Citation</a></li>
      </ul>
    </div>
  </nav>
</header>