<div class="grid">
	<div class="unit whole about">
		<p>
			{% if site.about_image %}
				<img src="/img/{{ site.about_image }}" alt="Avatar">
			{% elsif site.links.github %}
				<img src="https://github.com/{{ site.links.github }}.png" alt="Avatar">
			{% else %}
				<img src="/img/placeholder.jpg" alt="Avatar">
			{% endif %}
		</p>
		<ul class="links">
			{% if site.links.browser %}
				<li><a href="{{ site.links.browser }}" target="_blank">Browser</a></li>
			{% endif %}
			{% if site.links.twitter %}
				<li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank">Twitter</a></li>
			{% endif %}
			{% if site.links.tracker %}
				<li><a href="{{ site.links.tracker }}" target="_blank">Tracker</a></li>
			{% endif %}
			{% if site.links.contact %}
				<li><a href="{{ site.links.contact }}">Contact</a></li>
			{% endif %}
		</ul>
	</div>
</div>